:host {
  flex: 1 0 480px;
  position: relative;
}
.detail-tool-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 12px 6px 12px 12px;
  user-select: none;
  overflow: hidden;
  box-shadow: 0 1px 8px rgba(0,0,0,.15);
  border-bottom: 1px solid #c8c8c8;
  background: linear-gradient(#fff,#f4f4f4);
}

.contact-detail-container {
  position: absolute;
  top: 63px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 3;
}
.contact-detail {
  position: relative;
  padding: 60px 40px;
}
.contact-detail-header {
  position: relative;
}
.contact-detail-icon {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 0;
  left: 40px;
}
.inner-image {
  width: 80px;
  height: 80px;
  background: center center url(/assets/no_photo_detail_image.png) no-repeat;
}
.contact-detail-name {
  position: relative;
  padding-bottom: 40px;
  margin-left: 150px;
  cursor: text;
}
.contact-detail-name > h1 {
  position: relative;
  min-height: 50px;
  line-height: 50px;
  padding-right: 20px;
  font-size: 30px;
  font-weight: normal;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.contact-detail-body {
  position: relative;
  padding: 10px;
}
.contact-detail-list-item {
  position: relative;
  height: 42px;
  line-height: 42px;
  margin-left: 40px;
}
.detail-label {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 80px;
  left: 0;
  color: #888;
  text-align: right;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.detail-field {
  left: 110px;
  right: 0;
  font-size: 16px;
  position: absolute;
  top: 0;
  bottom: 0;
}

.detail-item-border {
  position: absolute;
  height: 1px;
  left: 140px;
  right: 80px;
  bottom: 0;
  background: #e5e5e5;
}
